

$lightColor: #FFFFFF;
$mediumColor: #676767;

$darkColor: #717171;
$darkestColor: #434343;

$headlineColor: #6A94A1;
$lineColor: #d6d6d6;

$lightAccentColor1: #F7F7F5;
$lightAccentColor2: #CCCDC8;

$accentColor: #2CDCD1;
